<table class="table table-striped table-dark table-sm">
  {{#each elever}}
  <tr>
    <td>{{navn}}</td><td>{{klasse}}</td>
    <td>
      <a href=/pupils/find/post/{{_id}}>Read</a></td>
    <td>
      <a href=/pupils/formpost/{{_id}}>Post</a></td>
    </tr>
  {{/each}}
  
</table>
