<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/pupils/create" method="post">
  Navn: <input type="text" name="navn"><br>
  Klasse: <input type="text" name="klasse"><br>
  <input type="submit" value="Submit">
</form>
